<div class="box col-10 offset-1">
  <h1>create a new thread</h1>
  <%= simple_form_for @topic do |f| %>
    <%= f.input :title, label: false, placeholder: "Thread topic..." %>
    <br />
    <%= f.input :content, label: false, placeholder: "Enter your post..." %>
    <br />
    <%= f.submit 'submit', class: 'btn btn-info' %>
  <% end %>
</div>