@import "bootstrap";

.hero {
  background: image_url('15.jpg');
  height: 800px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

.topnav {
  background: image_url('15.jpg')
}

h1, h2 {
  color: white;
}

.box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 6px;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  padding: 15px;
  margin-top: 20px;
}

.frosty {
  padding: 10px;
  background: rgba(0, 0, 0, 0.5);
  color: white;
}

textarea {
  width: 100%;
}